# This file is the top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 100

# [TODO] C# files
# [*.cs]

# Blank line settings
# Set the number of blank lines to have between methods
# csharp_blank_lines_between_methods = 1

# You can also control blank lines in other places, for example:
# csharp_blank_lines_between_properties = 1
# csharp_blank_lines_between_fields = 0
# csharp_blank_lines_after_usings = 1
